<h3 id="Autoři">Autoři</h3>

<div class="rules-authors">
  <strong class="title">
    <a href="https://obchod.altar.cz/draci-doupe-a-jine-rpg-hry-draci-doupe-plus-c-1_7.html" class="external-url"
       target="_blank">Převzato z PDF verze 1.0 edice B</a>
  </strong>
  <div>Autoři: Filip Novotný, Matouš Ježek, Jan Vávra, Radovan Vlk</div>
  <div>Příběhy: Jan Vávra</div>
  <div>Koordinátoři projektu: Martin Landa, Jan Ostatek, Jiřina Vorlová</div>
  <div>Obálka (pozadí): <a href="http://www.deskozrout.cz/osoba/61-vavron-milan/"
                           class="external-url" target="_blank">Milan Vavroň</a>
  </div>
  <div>Ilustrace: Martina Zrostlíková</div>
  <div class="altar">©2004–2012 ALTAR
    Dračí doupě<span class="upper-index">®</span>, DrD<span class="upper-index">™</span> a
    ALTAR<span class="upper-index">®</span> jsou zapsané ochranné známky nakladatelství <a
        href="https://altar.cz" class="external-url" target="_blank">ALTAR</a>.
  </div>
</div>