<div class="introduction generic">
  Once upon a time, there was a fat skeleton...
</div>

<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">

<div class="calculation" id="Výpočet počtu oddělovačů za sebou">
  Delimiter = Delimiter + Delimiter
</div>

<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">
<img src="/images/generic/skeleton/rules-battle-stats.png" class="delimiter">

<div class="note">
  Only single delimiter should remain, because calculation is removed and second delimiter then follows first
</div>