<div class="introduction">With image <img src="/images/licence-background.png"></div>
<div class="introduction">With image <img src="/images/main-background.png"></div>
<div class="introduction">With image <img src="/images/generic/skeleton/rules-battle-stats.png"></div>
<div class="introduction">With image <img src="/images/generic/skeleton/rules-example-left-upper-corner.png"></div>
<div class="introduction">With image <img src="/images/generic/skeleton/rules-example-right-bottom-corner.png"></div>
<div class="introduction">With image <img src="/images/generic/skeleton/rules-items-combination.png"></div>