<a href="/images/generic/skeleton/rules-battle-stats.png" class="lightbox" data-gallery="Foo">
  <img src="/images/generic/skeleton/rules-battle-stats.png" class="img-fluid">
</a>
<div class="row">
  <a href="/images/generic/skeleton/rules-items-combination.png" class="lightbox col-sm-1" data-gallery="Foo">
    <img src="/images/generic/skeleton/rules-items-combination.png" class="img-fluid">
  </a>
</div>
