<h6 id="Foo">Foo</h6>

<table id="IAmSoAlone">
  <caption style="width: 100%">
    <h3>Tabulka blabla
      <span style="background-color: #0f293a">Some span inside</span>
      <strong>strong</strong>
      <b>b</b>
      <i>i</i>
      plain text
    </h3>
  </caption>
  <tbody>
    <tr>
      <td>Table content</td>
    </tr>
  </tbody>
</table>
<div>
  <a href="#Tabulka blabla">Local table link</a>
</div>
