<div class="calculation" id="Hod na medvědy">
  <div class="content">
    nevšiml si pasti na medvědy ~ Past jak stehno ~ všiml si pasti na medvědy
  </div>
  <div class="content">
    nevšiml si pastičky na myši &lt; Pastička na myši ≥ všiml si pastičky na myši
  </div>
</div>

<div class="calculation" id="Hod na rozpoznání iluze">
  <div class="formula">Int + 2k6<span class="upper-index">+</span>:</div>
  <table class="content">
    <tbody>
      <tr>
        <td>nevšiml si chyb v iluzi</td>
        <td>&lt;</td>
        <td>Detailnost</td>
        <td>≥</td>
        <td>všiml si chyb v iluzi</td>
      </tr>
    </tbody>
  </table>
</div>
